	<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset=utf-8>
	<title>行益网-Dashboard</title>
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
	<script type="text/javascript" src="js/interface.js"></script>
	<script type="text/javascript" src="js/pager.js"></script>
</head>
<body>
	
	<!-- the header, including logo, search input, login and register entries -->
	<header>
		<div class="wrapper" id="header-wrapper">
			<div id="logo">
				<div id="logo-img">
					<img src="img/logo.png">
				</div>
				<div id="logo-name">
					<img src="img/name.png">
				</div>
			</div>
			<!-- the search input, login and register entries -->
			<div id="entry">
				<div id="search">
					<input id="search-box" type="search">
					<img id="search-icon" src="img/search.png" placeholder="搜索..." autocomplete="off">
				</div>
				<label>您好，<a id="user-entry">Sheer</a></label>
				<a id="dashboard-entry">Dashboard</a>
				<a id="logout-entry">登出</a>
			</div>
		</div>
	</header>

	<!-- the container -->
	<div id="content">
		<div class="wrapper" id="dashbaord-edit-project-wrapper">
			<section class="container">
				<h1 class="section-title">
					管理面板
				</h1>
				<a class="section-title-more" id="go-back-dashboard">
					Back to DashBoard>
				</a>
				<section class="project-part">
					<div class="row">
						<div class="col-1">
							<h1>基本信息</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<label>
								项目名称
							</label>
						</div>
						<div class="col-2">
							<label>{{project.name}}</label>
						</div>
					</div>
					<div class="row">
						<div class="col-1">
							<label>
								项目简介
							</label>
						</div>
						<div class="col-2">
							<label>
								{{project.desc}}
							</label>
						</div>
					</div>
				</section>
				<section class="project-part">
					<div class="row">
						<div class="col-1">
							<h1>大事件</h1>
						</div>
					</div>
				</section>
				<div class="dispel"></div>
				<section class="project-events">
					<section class="project-timeline">
						{{#each project.milestone}}
						<label>{{title}}<i class="start-time">{{date}}</i></label>
						<div class="timeline">
						</div>
						{{/each}}
						<label>TODAY<i class="end-time">[today]</i></label>
					</section>
					<section class="project-event-show">
						{{#each project.milestone}}
						<section class="event">
							<i>{{date}}</i>
							<article>
								{{desc}}
							</article>
						</section>
						{{/each}}
					</section>
				</section>
				<section class="project-part">
					<div class="row">
						<div class="col-1">
							<h1>管理模块</h1>
						</div>
					</div>
				</section>
				<div class="dispel"></div>
				<section class="dashboard">
					<label id="base-info">基础信息</label>
					<label id="message-update">消息更新</label>
					<label id="expense-manage">开支管理</label>
					<label id="joiner-manage">成员管理</label>
				</section>
			</section>
		</div>
	</div>

	<!-- the footer -->
	<footer>
		<div class="wrapper">
			<h1 class="section-title">
				关于我们
			</h1>
			<section id="author-gallery">
				<img src="img/p1.gif">
				<img src="img/p2.gif">
				<img src="img/p3.gif">
				<img src="img/p4.gif">
				<img src="img/p5.gif">
				<img src="img/p6.gif">
				<img src="img/p7.gif">
			</section>
			
			<section id="site-info">
				<ul class="nav">
					<li>
						<h1>A</h1>
						<b>TEL</b>
						<i>188-1736-2313</i>
					</li>
					<li>
						<h1>B</h1>
						<b>MAIL</b>
						<a href="mailto:sheer.linnan@outlook.com"><i>sheer.linnan@outlook.com</i></a>
					</li>
					<li>
						<h1>C</h1>
						<b>&copy;2014</b>
						<i>行益网 版权所有</i>
					</li>
				</ul>
			</section>
		</div>
	</footer>

</body>
</html>