<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset=utf-8>
	<title>行益网-Project</title>
	<link rel="stylesheet" type="text/css" href="/css/general.css">
	<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="/js/general.js"></script>
	<script type="text/javascript" src="/js/interface.js"></script>
	<script type="text/javascript" src="/js/pager.js"></script>
</head>
<body>
	
	<!-- the header, including logo, search input, login and register entries -->
	<header>
		<div class="wrapper" id="header-wrapper">
			<div id="logo">
				<div id="logo-img">
					<img src="/img/logo.png">
				</div>
				<div id="logo-name">
					<img src="/img/name.png">
				</div>
			</div>
			<!-- the search input, login and register entries -->
			<div id="entry">
				<div id="search">
					<input id="search-box" type="search">
					<img id="search-icon" src="/img/search.png" placeholder="搜索..." autocomplete="off">
				</div>
				<label>您好，<a id="user-entry">Admin</a></label>
				<a id="dashboard-entry" onclick="location.href='/superuser/home'">管理面板</a>
				<a id="logout-entry">登出</a>
			</div>
		</div>
	</header>

	<!-- the container -->
	<div id="content">
		<div class="wrapper" id="project-verify-wrapper">
			<section class="container">
				<h1 class="section-title">
					项目审核
				</h1>
				<section class="show-result">
					共有{{uncheckedNum}}个未审批的项目
				</section>
				<section class="show-result">
					共有{{passedNum}}个通过审批的项目
				</section>
				<section class="show-result">
					共有{{failedNum}}个未通过审批的项目
				</section>
				<section class="filter">
					<label>显示条件</label>
					<a id="all_project_tab">未审批的项目</a>
					<a id="star_project_tab">通过审批的项目</a>
					<a id="join_project_tab">未通过审批的项目</a>
				</section>
				<!-- Tab 1 -->
				<section id="all_project" class="tab">
					<section class="show">
						<div class="collection">
							{{#each uncheckedProject}}
							<div class="card-part">
								<div class="for-id">{{_id}}</div>
								<div class="left-part">
									<div class="row">
										<div class="col-1">
											<label>项目名称</label>
										</div>
										<div class="col-2">
											{{name}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目简介</label>
										</div>
										<div class="col-2">
											{{desc}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目图片</label>
										</div>
										<div class="col-2">
                      <img src="/img/pj_{{_id}}.png">
										</div>
									</div>
								</div>
								<div class="right-part">
									<h1>审批意见</h1>
									<button class="rounded-button light-button pass">通过</button>
									<button class="rounded-button light-red-button fail">否决</button>
									<textarea id="reason-{{_id}}"></textarea>
								</div>
							</div>
							{{/each}}
						</div>
					</section>
					<section class="page_navigation">
						<input type='hidden' class='current_page' />
						<input type='hidden' class='show_per_page' value='3' />
					</section>
				</section>

				<!-- Tab 2 -->
				<section id="star_project" class="tab">
					<section class="show">
						<div class="collection">
							{{#each passedProject}}
							<div class="card-part">
								<div class="left-part">
									<div class="row">
										<div class="col-1">
											<label>项目名称</label>
										</div>
										<div class="col-2">
											{{name}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目简介</label>
										</div>
										<div class="col-2">
											{{desc}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目图片</label>
										</div>
										<div class="col-2">
											<!-- <img src="/img/pj_{{_id}}.png"> -->
											<img src="/img/bg1.png">
										</div>
									</div>
								</div>
								<div class="right-part">
									<h1>审批意见</h1>
									<button class="rounded-button light-button passed">已通过</button>
								</div>
							</div>
							{{/each}}
						</div>
					</section>
					<section class="page_navigation">
						<input type='hidden' class='current_page' />
						<input type='hidden' class='show_per_page' value='3' />
					</section>
				</section>

				<!-- Tab 3 -->
				<section id="join_project" class="tab">
					<section class="show">
						<div class="collection">
							{{#each failedProject}}
							<div class="card-part">
								<div class="left-part">
									<div class="row">
										<div class="col-1">
											<label>项目名称</label>
										</div>
										<div class="col-2">
											{{name}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目简介</label>
										</div>
										<div class="col-2">
											{{desc}}
										</div>
									</div>
									<div class="row">
										<div class="col-1">
											<label>项目图片</label>
										</div>
										<div class="col-2">
											<!-- <img src="/img/pj_{{_id}}.png"> -->
											<img src="/img/bg1.png">
										</div>
									</div>
								</div>
								<div class="right-part">
									<h1>审批意见</h1>
									<button class="rounded-button light-red-button failed">未通过</button>
									<h1>否决理由
									</h1>
									<div>
										{{remark}}
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</section>
					<section class="page_navigation">
						<input type='hidden' class='current_page' />
						<input type='hidden' class='show_per_page' value='3' />
					</section>
				</section>				
			</section>

				<!-- <h1 class="back-nav" onclick="location.href='/superuser/home'" > -->
				<!--   回到管理面板                                             -->
        <!-- </h1>                                                            -->

		</div>
	</div>

	<!-- the footer -->
	<footer>
		<div class="wrapper">
			<h1 class="section-title">
				关于我们
			</h1>
			<section id="author-gallery">
				<img src="/img/p1.gif">
				<img src="/img/p2.gif">
				<img src="/img/p3.gif">
				<img src="/img/p4.gif">
				<img src="/img/p5.gif">
				<img src="/img/p6.gif">
				<img src="/img/p7.gif">
			</section>
			
			<section id="site-info">
				<ul class="nav">
					<li>
						<h1>A</h1>
						<b>TEL</b>
						<i>188-1736-2313</i>
					</li>
					<li>
						<h1>B</h1>
						<b>MAIL</b>
						<a href="mailto:sheer.linnan@outlook.com"><i>sheer.linnan@outlook.com</i></a>
					</li>
					<li>
						<h1>C</h1>
						<b>&copy;2014</b>
						<i>行益网 版权所有</i>
					</li>
				</ul>
			</section>
		</div>
	</footer>

</body>
</html>
